
<div class="box">

  <%= button_to "Log Out", destroy_zoo_session_path, method: :delete, class: "ui inverted red button" %>

  <h2> Welcome <%= current_zoo.keeper_name %> </h2>

  <%= link_to "Capture New Exotic Animal", new_animal_path, class: "ui inverted teal button" %>

  <h3> Your Animal </h3> 

  <% @animals.each do |animal| %>

    <div id="animal-desc">
      <%= animal.name %> - <%= animal.species %> <%= animal.age %> 
      <a><%= link_to animal.name, animal %></a>
    </div>

  <% end %>

</div>
