<div class="box">
  <h1>Capturing a New Exotic Animal </h1>

  <%= form_with(model: @animal, local: true) do |f| %>

    <div class="ui transparent input" id="mango">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="ui transparent input" id="mango">
      <%= f.label :species %>
      <%= f.text_field :species, required: true %>
    </div>

    <div class="ui transparent input" id="mango">
      <%= f.label :age %>
      <%= f.text_field :age, required: true %>
    </div>

    <p id="submit"><%= f.submit %></p>

  <% end %>

</div>
